@model Notification

@{
    ViewData["Title"] = "Notification Details";
}

<h1>Notification Details</h1>

<div>
    <h4>Notification</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Message
        </dt>
        <dd class="col-sm-10">
            @Model.Message
        </dd>
        <dt class="col-sm-2">
            User
        </dt>
        <dd class="col-sm-10">
            @Model.User?.Name
        </dd>
        <dt class="col-sm-2">
            Created
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedAt
        </dd>
        <dt class="col-sm-2">
            Is Read
        </dt>
        <dd class="col-sm-10">
            @Model.IsRead
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

