@model IEnumerable<Rating>

@{
    ViewData["Title"] = "Ratings";
}

<h1>Ratings</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Rating</a>
</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Stars</th>
        <th>Podcast</th>
        <th>User</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Stars</td>
            <td>@item.Podcast?.Name</td>
            <td>@item.User?.Name</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

